<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> TODOTracker </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700" rel="stylesheet">
    {% load static from staticfiles %}
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
    
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand brand" href="{% url 'tracker:index' %}"><span>TodoTracker</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'tracker:index' %}">Overview</a></li>
                <li><a href="{% url 'tracker:create' %}">Create</a></li>
                <li><a href="{% url 'tracker:contact' %}">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<section class="imprint">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 header-section">
                <h1 class="highlight hidden-xs hidden-sm">Contact</h1>
                <h1 class="highlight-sm hidden-md hidden-lg">Contact</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 header-section">
                <p><strong>Developed by Matias Rietig & Carolin Stolpe</strong></p>
                <p>Technische Universität Berlin</p>
                <p>Straße des 17. Juni 135</p>
                <p>10623 Berlin</p>
                <p>Contact: info@todotracker.com</p>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <p class="text-center">TodoTracker | Developed by Matias Rietig & Carolin Stolpe</p>
    </div>
</footer>
</body>
</html>